@model IEnumerable<IzendaHours.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="projectTable" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                </td>
            </tr>
        }
    </tbody>
</table>
