@using IzendaHours.Models
@model ForgotViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please confirm your email.</h2>

<p>Your email address has not been confirmed.  Please check your email and follow the instructions to sign in.</p>

<p>If you need to resend the email, please fill in the email box below and click Resend. </p>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ResendEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Resend" class="btn btn-default" />
                    </div>
                </div>
            }
         </section>
    </div>
</div>
